html {
  scroll-behavior: smooth;
}

:target:before {
  content:"";
  display:block;
  height:50px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
}

body {
  /* background-color: #F1F1F1; */
  background-image: linear-gradient(135deg, #fdfbfb, #ebedee);
  overflow-x: hidden;

}

/* ========== WAVING HAND ========== */

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* ========== NAVIGATION BAR ========== */

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  /* color: #e8edf3; */
}

.bg-blur {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  /* background-color: red; */
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
  text-decoration: line-through;
}

/* ========== SPLASH SECTION ========== */
#intro-section {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 800px;
  padding-top: 66px;
}
#splash {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

#splash-card-holder {
  height: 100%;
}

.splash-card {
  /* background-color: #262737; */
  background-image: linear-gradient(135deg, #262737, #262D37);
  /* background-color: #2B2C40; */

  height: inherit;
  /* width: 100%; */
  border-radius: 12.5px;
  box-shadow: 0 4px 17px 0 rgb(233 233 233 / 50);
  position: relative;
  text-align: center;
  overflow: hidden;

}


.main-splash {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 800px;
  /* background-image: -webkit-linear-gradient(135deg, #2C3E50, #000000);
    background-image: -moz-linear-gradient(45deg, #2C3E50, #000000);
    background-image: -ms-linear-gradient(45deg, #2C3E50 0, #000000 100%);
    background-image: -o-linear-gradient(45deg, #2C3E50, #000000);
    background-image: linear-gradient(135deg, #2C3E50, #000000); */
  background-image: linear-gradient(135deg, #fdfbfb, #ebedee);
  text-align: center;
  overflow: hidden;
}

.main-splash-content {
  display: inline-block;
  text-align: left;
  position: relative;
  margin-top: 125px;
  z-index: 100;
  max-width: 500px;
}

.main-splash-links {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  max-width: 500px;
  width: 100%;
}

.splash-social {
  color: #ffffff;
}

.main-animation {
  position: absolute;
  top: 100px;

  left: 0;
  z-index: 0;
}

.splash-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 36px;
  /* color: #181818; */
  color: #ffffff;
}

.splash-sub1 {
  padding-top: 14px;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 300; */
  font-weight: 300;

  font-size: 17px;
  /* color: #181818; */
  /* color: #ffffff; */
  color: rgba(255, 255, 255, 0.65);
}

.splash-sub2 {
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 300; */
  font-weight: 300;

  font-size: 16px;
  /* color: #181818; */
  color: #ffffff;
}

/* ========== CONTENT ========== */

/* ========== PROJECTS ========== */

#works {
  margin-top: 25px;
  margin-bottom: 25px;
}

.project-section {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 500; */
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

.project-container {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 475px;
  /* background-color: #fafafa; */
  /* background-color: #f9f9f9; */
  /* background-color: rgba(247, 247, 248, 1.0); */
  background-color: rgba(255, 255, 255, 1.0);
  /* box-shadow: 0 4px 17px 0 rgb(233 233 233 / 50); */


  border-radius: 12.5px;
  /* overflow: hidden; */
  /* transition: 0.3s; */
}

/* .project-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 17px 0 rgb(233 233 233 / 50);
} */

.project-container:before {
  content: "";
  z-index: -999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(to top left, #003973, #e5e5be); */
  /* background: linear-gradient(to top left, #0F2027, #2C5364); */
  background: linear-gradient(to top left, #aa4b6b, #6b6b83, #3b8d99);
  /* transform: translateY(7px) scale(0.95); */
  transform: translateY(7px) scaleY(0.95) scaleX(0.97);

  filter: blur(15px);
  opacity: 0;
  transition: opacity 0.6s;
}
.project-container:hover:before {
  opacity: 0.7;
}

/* .project-container:hover {
  background-color: rgba(249, 249, 249, 0.9);
} */

.project-container:hover .project-title {
  transition: 0.5s;
  background-image: linear-gradient(to top left, #aa4b6b, #6b6b83, #3b8d99);
/*   background-image: linear-gradient(to top left, #0b8793 #360033);
 */
/*   font-weight: 700; */
/*   font-weight: 900;
   */

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.project-title {
  position: relative;
  z-index: 100;
  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-weight: 300; */
  font-size: 17px;
  text-transform: uppercase;
}

.project-descr {
  position: relative;
  z-index: 100;

  font-family: 'Roboto', sans-serif;
  /* font-weight: 500; */
  font-weight: 300;
  font-size: 12px;
  /* text-transform: uppercase; */
  margin-top: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  /* max-width: 300px; */
}

.project-tags {
  position: absolute;
  z-index: 100;

  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  max-width: 300px;
}

.project-link {
  position: absolute;
  z-index: 100;

  bottom: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  max-width: 300px;
  color: inherit;
}

.project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.project-img img {
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.proj-text-dark0 {
  color: #404040;
}

.project-nda {
  cursor: not-allowed;
}

.project-nda:after {
  position: relative;
  z-index: 100;
  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-weight: 300; */
  font-size: 15px;
  text-transform: uppercase;



  display: flex;
  justify-content: center;
  align-items: center;


  color: #ffffff;
  content: "Under NDA";
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to top left, #0F2027, #203A43, #2C5364); */
  background-color: #1b1c1e;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 12.5px;
}
.project-nda:hover:after {
  opacity: 1;
}

.project-comingsoon {
  cursor: not-allowed;
}

.project-comingsoon:after {
  position: relative;
  z-index: 100;
  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-weight: 300; */
  font-size: 15px;
  text-transform: uppercase;



  display: flex;
  justify-content: center;
  align-items: center;


  color: #ffffff;
  content: "Coming Soon";
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to top left, #0F2027, #203A43, #2C5364); */
  background-color: #1b1c1e;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 12.5px;
}
.project-comingsoon:hover:after {
  opacity: 1;
}





/* CARD SLIDER */
#sideprojects {
  position: relative;
  /* height: 500px; */
  /* width: 100%; */
  /* background-color: red; */
  /* left: 50px; */
  margin: 0;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#sideprojects::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.sidecard {
  display: inline-block;
  /* height: 491px;
  width: 375px; */
  height: 400px;
  width: 300px;
  /* background-color: black; */
  margin-right: 15px;
  margin-bottom: 10px;


  background-color: rgba(255, 255, 255, 1.0);
  /* background-color: rgba(247, 247, 248, 1.0); */


  border-radius: 12.5px;
}
.sidecard:last-child {
  margin-right: 0px;
}



/* ABOUT ME */
.about-splash {
  /* background-color: #303030; */
  /* background-color: #c7cfd1; */
  /* background-image: linear-gradient(135deg, #fdfbfb, #ebedee); */

  padding-top: 25px;
  padding-bottom: 40px;
}
#about {
}


.about-section {
  background-color: #272727;
  /* background-color: #252525; */

  /* background-color: #ffffff; */

  /* width: 100%; */
  border-radius: 12.5px;

  box-shadow: 0 4px 17px 0 rgb(233 233 233 / 50);

}

.about-detail {
  /* height: 500px; */
  color: #ffffff;

}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-rounded {
  border-radius: 4px !important;

}

.motto {
  background-color: #252525;
  color: #ffffff !important;
  border-radius: 2px;
  display:inline-block
}


.about-title {
  position: relative;
  z-index: 100;

  font-family: 'Roboto', sans-serif;
/*   font-weight: 500; */
  font-weight: 500;

  /* font-weight: 300; */
  font-size: 18px;
  text-transform: uppercase;
}

.about-descr {
  position: relative;
  z-index: 100;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /* font-size: 12px; */
  font-size: 13px;

  margin-top: 10px;
  /* line-height: 15px; */
  line-height: 17px;

  letter-spacing: 1px;
  /* max-width: 300px; */
}

.about-subheader {
  position: relative;
  z-index: 100;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-size: 12px; */
  font-size: 13px;

  margin-top: 30px;
  /* line-height: 15px; */
  line-height: 17px;

  letter-spacing: 1px;
  /* max-width: 300px; */
}

.about-infobold {
  font-weight: 500;
}

.about-degree2 {
    display: inline-block;
    height: 30px;
    padding: 0 5px;
    color: #454549;
    font-size: 11px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #454549;
    cursor: pointer;
    box-sizing: border-box;
}

.about-list {
  display: block;
  /* background-color: #fafafa; */
  background-color: rgba(255, 255, 255, 0.1);

  padding: 10px;
  border-radius: 5px;
}

.about-list:not(:last-child) {
  margin-bottom: 10px;
}

.about-name {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  /* color: #4C4C4A; */
  color: #ffffff;
  /* text-align: center; */
  padding-left: 25px;

}

.about-name-kr {
  font-family: 'Gowun Batang', serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.about-name-info {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* color: #4C4C4A; */
    color: #ffffff;

    /* text-align: center; */
    padding-left: 25px;
    padding-right: 25px;
}

.about-name-dictionary {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 20px;
}

.about-name-definition {
  padding-top: 15px;
}

.figma-project {
  height: 100vh;
  padding-top: 66px;
}
.mobile-alert {
  /* width: 100%; */
  /* height: 200px; */
  /* background-color: red; */

  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
}
