/* CARD SLIDER */
#sideprojects {
  padding-top: 10px;

  position: relative;
  /* height: 500px; */
  /* width: 100%; */
  /* background-color: red; */
  /* left: 50px; */
  margin: 0;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#sideprojects::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.sidecard {
  display: inline-block;
  /* height: 491px;
  width: 375px; */
  height: 400px;
  width: 300px;
  /* background-color: black; */
  margin-right: 15px;
  margin-bottom: 10px;


  border-radius: 3px;
  border: 1px solid rgba(31,31,31,.04);

  overflow: hidden;
  cursor: pointer;



  /* background-color: rgba(255, 255, 255, 1.0); */
  /* background-color: rgba(247, 247, 248, 1.0); */


  border-radius: 7.5px;;
}
.sidecard:last-child {
  margin-right: 0px;
}


.sidecard:hover {
  box-shadow: 0 4px 17px 0 rgb(233 233 233 / 50);

}


.sliderBtn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  /* padding: 0 56px; */
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 200;
  font-size: 18px;
  background: #fff;
  /* color: #212121; */
  color: #A4A5B3;
  /* box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%); */
}

.sliderBtn:hover {
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);

}


/* The progress container (grey background) */
.progress-container {
  width: 150px;
  height: 5px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 5px;
  background: #04AA6D;
  width: 0%;
}
