html {
  scroll-behavior: smooth;
}

:target:before {
  content:"";
  display:block;
  height:50px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
}

body {}

/* ========== WAVING HAND ========== */

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* ========== NAVIGATION BAR ========== */

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  /* color: #e8edf3; */
}

.nav-link:hover {
  text-decoration: line-through;
}

/* ========== SPLASH SECTION ========== */

.main-splash {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 800px;
  /* background-image: -webkit-linear-gradient(135deg, #2C3E50, #000000);
    background-image: -moz-linear-gradient(45deg, #2C3E50, #000000);
    background-image: -ms-linear-gradient(45deg, #2C3E50 0, #000000 100%);
    background-image: -o-linear-gradient(45deg, #2C3E50, #000000);
    background-image: linear-gradient(135deg, #2C3E50, #000000); */
  background-image: linear-gradient(135deg, #fdfbfb, #ebedee);
  text-align: center;
  overflow: hidden;
}

.main-splash-content {
  display: inline-block;
  text-align: left;
  position: relative;
  margin-top: 175px;
  z-index: 100;
  max-width: 500px;
}

.main-splash-links {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  max-width: 500px;
  width: 100%;
}

.main-animation {
  position: absolute;
  top: 100px;

  left: 0;
  z-index: 0;
}

.splash-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #181818;
}

.splash-sub1 {
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #181818;
}

/* ========== CONTENT ========== */

/* ========== PROJECTS ========== */

#works {
  margin-top: 25px;
  margin-bottom: 25px;
}

.project-section {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 500; */
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

.project-container {
  position: relative;
  width: 100%;
  height: 475px;
  background-color: #fafafa;
  border-radius: 10px;
  /* overflow: hidden; */
  /* transition: 0.3s; */
}

/* .project-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 17px 0 rgb(233 233 233 / 50);
} */

.project-container:before {
  content: "";
  z-index: -999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: linear-gradient(to top left, #003973, #e5e5be); */
  /* background: linear-gradient(to top left, #0F2027, #2C5364); */
  background: linear-gradient(to top left, #aa4b6b, #6b6b83, #3b8d99);
  transform: translateY(7px) scale(0.95);
  filter: blur(15px);
  opacity: 0;
  transition: opacity 0.6s;
}
.project-container:hover:before {
  opacity: 0.7;
}

.project-title {
  position: relative;
  z-index: 100;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-weight: 300; */
  font-size: 16px;
  text-transform: uppercase;
}

.project-descr {
  position: relative;
  z-index: 100;

  font-family: 'Roboto', sans-serif;
  /* font-weight: 500; */
  font-weight: 300;
  font-size: 12px;
  /* text-transform: uppercase; */
  margin-top: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  max-width: 300px;
}

.project-tags {
  position: absolute;
  z-index: 100;

  bottom: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  max-width: 300px;
}

.project-link {
  position: absolute;
  z-index: 100;

  bottom: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  max-width: 300px;
  color: inherit;
}

.project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.project-img img {
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.proj-text-dark0 {
  color: #404040;
}


/* ABOUT ME */
.about-splash {
  background-color: #303030;
  padding-top: 15px;
  padding-bottom: 70px;
}
#aboutme {
  /* height: 400px; */
  /* background-color: red; */

}

#aboutme .project-section {
  color: #ffffff;
}

.about-info {
  background-color: #252525;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
